<div> <%= image_tag 'search', id: "search-show" %> 
    <div class="container mt-5 meetup-index">
        <div class="container m-3">
            <%=form_with(url: meetup_searches_path, method: :get, local: true) do |form|%>
            <div class="form-group mt-3">
                <b><%=form.label :Distance_in_km%></b>
                <%=form.text_field :distance, class: "form-control", placeholder: "e.g. 5"%>
            </div>
            <%= form.hidden_field :longitude, class: "longitude" %>
            <%= form.hidden_field :latitude, class: "latitude" %>
            <%=form.submit "Search", class: "btn btn-secondary"%>
            <% end %>
        </div>
    </div>
</div>
<script>
        navigator.geolocation.getCurrentPosition((position) => {
            console.log(position.coords.longitude)
            console.log(position.coords.latitude)
            document.querySelector(".longitude").value = `${position.coords.longitude}`
            document.querySelector(".latitude").value = `${position.coords.latitude}`
        })
</script>