<div> <%= image_tag 'topdown4', id: "meetuplocation-show" %> 
<div class="container mt-2">
    <h3>Welcome to <b>PingMe Instructions</b> Page</h3>
    <p>In this example, David will be 
    the host who creates Pings, while Brett will be the guest who joins
    Pings that are created by other users.</p>
</div>
<div class="container">
    <h5>Log in as "David"</h5>
    <ol>
        <li>Click "Log in" in the navigation bar (or middle of the page if you are in the "Home" page</li>
        <li>Use "d@gmail.com" as email and "1234" as password, click "Log in"</li>
        <li>You will be prompted to the "MyPings" page, which displays all the future AND historical Pings that you created or attended</li>
        <li>Click "Create Pings" in the navigation bar</li>
        <li>A background map will appear with a info window with the message "Your are here!" that display your current location </li>
        <li>Type in ONE desired distance (e.g. 5)</li>
        <li>Type in ONE desired venue (e.g. coffee, KFC, etc</li>
        <li>Click "Search"</li>
        <li>You will then be prompted to a page with an interactive map, which displays the location and other information of the desired venues within the desired distance</li>
        <li>Enter a date and time at which you want to show up at the desired venue</li>
        <li>Click "Go"</li>
        <li>You will then be prompted to a page with a background map AND a table that summarizes your venue, date and time choice</li>
        <li>Notice that "Guess" is pending because no one has joined your Ping yet</li>
        <li>Log out from David's account and follow instructions below.</li>
    </ol>
</div>
<div class="container">
    <h5>Log in as "Brett"</h5>
    <ol>
        <li>Click "Log in" in the navigation bar (or middle of the page if you are in the "Home" page</li>
        <li>Use "b@gmail.com" as email and "1234" as password, click "Log in"</li>
        <li>You will be prompted to the "MyPings" page, which displays all the future AND historical Pings that you created or attended</li>
        <li>Click "Join Pings" in the navigation bar</li>
        <li>Type in ONE desired distance (e.g. 5)</li>
        <li>You will then be prompted to a page with an interactive map, which displays future Pings near you.  This page only displays the Pings that are still available AND in the future.</li>
        <li>Choose a Ping that you would like to join by clicking "Yes!"</li>
        <li>You will then be prompted to a page with a background map AND a table that summarizes your venue, date and time choice</li>
        <li>Try searching for the same Ping again.  This Ping that you have just joined will NOT be visible because the Ping already has one host ("David") and one guest ("Brett)</li>
        <li>Click "MyPings" and you'll see the Ping that you've just joined.</li>
        <li>Click "UnJoin" and search for this Ping again.  It will reappear because now this Ping is available for others to join.</li>
        <li>Log out</li>
    </ol>
</div>
<div class="container">
    <h5>Note</h5>
    <p>A major feature is that the host will receive a text message when a guest "Joins" or "UnJoins" a Ping.  On the other hand, the guest will also receive a text message if the host "Deletes" a Ping.  However, you may not receive a text message because your phone number is NOT associated with David's or Brett's account.</p>
    <p>Please contact me at dkoflow@gmail.com if you wish to experience the full functionality of this app.</p>
</div>

<div class="modal fade" id="exampleModal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with(url: session_path, local: true) do |form|%>
              <div class="form-group mt-3">
                  <%= form.label :email %>
                  <%= form.text_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                  <%= form.label :password %>
                  <%= form.password_field :password, class: "form-control" %>
              </div>
                  <%= form.submit "Log in", class: "btn btn-secondary"%>
          <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with(model: @user, local: true) do |form|%>
              <div class="form-group mt-3">
                  <b><%= form.label :first_name %></b>
                  <%= form.text_field :first_name, class: "form-control" %>
              </div>
              <div class="form-group mt-3">
                  <b><%= form.label :last_name %></b>
                  <%= form.text_field :last_name, class: "form-control" %>
              </div>
              <div class="form-group mt-3">
                  <b><%= form.label :profession %></b>
                  <%= form.text_field :profession, class: "form-control" %>
              </div>
              <div class="form-group mt-3">
                  <b><%= form.label :phone_number %></b>
                  <%= form.text_field :phone_number, class: "form-control", placeholder: "e.g. 17789221338" %>
              </div>
              <div class="form-group">
                  <b><%= form.label :email %></b>
                  <%= form.text_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                  <b><%= form.label :password %></b>
                  <%= form.password_field :password, class: "form-control" %>
              </div> 
              <div class="form-group">
                  <b><%= form.label :password_confirmation %></b>
                  <%= form.password_field :password_confirmation, class: "form-control" %>
              </div>
                  <%= form.submit "Sign Up", class: "btn btn-secondary"%>
          <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
