<div class="position-relative js-object-log landing-page-div-1 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <article>
        <h2 class="display-4 font-weight-normal">Ping me</h2>
        <h4 class="moto">A leading app for working professional to expand their horizons and network</h4>
        <% if !user_signed_in?%>
        <button type="button" class="btn btn-secondary mr-3" data-toggle="modal" data-target="#exampleModal-signup">
          Sign up
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal-login">
          Log In
        </button>
        <% end %>
      </article>
      <video autoplay loop id="video-background" muted plays-inline>
        <source class="video" src="assets/video.mp4" type="video/mp4">
      </video>
    </div>
</div>

<div class="js-object-log banner container-fluid">
  <div class="row">
    <div class="container col-4">
      <div><%= image_tag 'connect2', class: "landing-page-catchwords-sm" %></div>
      <div class="mt-4 word">Connect</div>
      <p>with each other</p>
    </div>
    <div class="container col-4">
      <div><%= image_tag 'inspire', class: "landing-page-catchwords" %></div>
      <div class="mt-1 word">Inspire</div>
      <p>one another</p>
    </div>
    <div class="container col-4">
      <div><%= image_tag 'success', class: "landing-page-catchwords-sm" %></div>
      <div class="mt-4 word" >Succeed</div>
      <p>together</p>
    </div>
  </div>
</div>
<div class="js-object-log banner container-fluid">
  <div class="row">
    <div class="container col-6 mt-4">
      <div><%= image_tag 'worldwide2', class: "worldwide-image" %></div>
      <div class="mt-4 word"></div>
    </div>
    <div class="container col-6 worldwide-text">
      <div class="container worldwide-inner-text-number">Over 300,000+ professionals</div>
    </div>
  </div>
</div>
<div class="js-object-log banner container-fluid">
  <div class="row">
    <div class="container col-6 mt-4 worldwide-text">
      <q>Through PingMe, I landed myself my current position as the Marketing Director at IBM!</q>
      <p></p>
      <p><i><small>Jennifer Wilkens</small></i></p>
    </div>
    <div class="container col-6 mt-4">
      <div class="container" ><%= image_tag 'headshot', class: "headshot-image" %></div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with(url: session_path, local: true) do |form|%>
              <div class="form-group mt-3">
                  <%= form.label :email %>
                  <%= form.text_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                  <%= form.label :password %>
                  <%= form.password_field :password, class: "form-control" %>
              </div>
                  <%= form.submit "Log in", class: "btn btn-secondary"%>
          <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with(model: @user, local: true) do |form|%>
              <div class="form-group mt-3">
                  <b><%= form.label :first_name %></b>
                  <%= form.text_field :first_name, class: "form-control" %>
              </div>
              <div class="form-group mt-3">
                  <b><%= form.label :last_name %></b>
                  <%= form.text_field :last_name, class: "form-control" %>
              </div>
              <div class="form-group mt-3">
                  <b><%= form.label :profession %></b>
                  <%= form.text_field :profession, class: "form-control" %>
              </div>
              <div class="form-group mt-3">
                  <b><%= form.label :phone_number %></b>
                  <%= form.text_field :phone_number, class: "form-control", placeholder: "e.g. 17789221338" %>
              </div>
              <div class="form-group">
                  <b><%= form.label :email %></b>
                  <%= form.text_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                  <b><%= form.label :password %></b>
                  <%= form.password_field :password, class: "form-control" %>
              </div> 
              <div class="form-group">
                  <b><%= form.label :password_confirmation %></b>
                  <%= form.password_field :password_confirmation, class: "form-control" %>
              </div>
                  <%= form.submit "Sign Up", class: "btn btn-secondary"%>
          <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>