<div> <%= image_tag 'search', id: "search-show" %> 
    <div class="container meetup-index mt-5">
        <div class="container m-3">
            <%=form_with(url: google_search_path, method: :get, local: true, html: { id: "search"}) do |form|%>
            <div class="form-group mt-3">
                <b><%=form.label :Distance_in_km%></b>
                <%=form.text_field :distance, class: "form-control", placeholder: "e.g. 5"%>
            </div>
            <div class="form-group mt-3">
                <b><%=form.label :Venue%></b>
                <%=form.text_field :venue, class: "form-control", placeholder: "e.g. cafe, restaurant, bar, gym"%>
            </div>
            <%= form.hidden_field :longitude, class: "longitude" %>
            <%= form.hidden_field :latitude, class: "latitude" %>
            <%=form.submit "Search", class: "btn btn-secondary"%>

            <% end %>
        </div>
    </div>
</div>
<script>
        navigator.geolocation.getCurrentPosition((position) => {
            console.log(position.coords.longitude)
            console.log(position.coords.latitude)
            document.querySelector(".longitude").value = `${position.coords.longitude}`
            document.querySelector(".latitude").value = `${position.coords.latitude}`
        })
</script>