<div id="map-new" class="container-fluid">
        <p>Map placeholder</p>
</div>
<div class="container meetup-index mt-5">
    <div class="container m-3">
        <%=form_with(url: google_search_path, method: :get, local: true, html: { id: "search"}) do |form|%>
        <div class="form-group mt-3">
            <b><%=form.label :Distance_in_km%></b>
            <%=form.text_field :distance, class: "form-control", placeholder: "e.g. 5"%>
        </div>
        <div class="form-group mt-3">
            <b><%=form.label :Venue%></b>
            <%=form.text_field :venue, class: "form-control", placeholder: "e.g. cafe, restaurant, bar, gym"%>
        </div>
        <%= form.hidden_field :longitude, class: "longitude" %>
        <%= form.hidden_field :latitude, class: "latitude" %>
        <%=form.submit "Search", class: "btn btn-secondary"%>
        <% end %>
    </div>
</div>
<script>
        navigator.geolocation.getCurrentPosition((position) => {
            document.querySelector(".longitude").value = `${position.coords.longitude}`
            document.querySelector(".latitude").value = `${position.coords.latitude}`
        })
</script>
<script defer>
    function initMap() {
        let vancouver = {lat:49.2827, lng:-123.1207};
        let map = new google.maps.Map(
            document.getElementById('map-new'), {zoom: 15, center: vancouver}
        );
        let image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        navigator.geolocation.getCurrentPosition((position) => {
            let location = {lat: position.coords.latitude, lng: position.coords.longitude}
            map.setCenter(location)
            let marker = new google.maps.Marker({position: location, map: map, icon: image});
            let infowindow = new google.maps.InfoWindow({
                content: '<h5>You are here!</h5>'
            });
            infowindow.open(map, marker);
        })
    }
</script>
<script async src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap"
  type="text/javascript">
</script>
