
<div class="container border ">
    <%if @meetup_locations.count > 0%>
    <div class="container border m-3">
        <h2>You are going to:</h2>
        <div>
            <% @meetup_locations.each do |meetup_location|%>
                <p>
                
                <%=meetup_location.place_name%> 
                at <%=meetup_location.place_address%>
                at <%=meetup_location.date_time.strftime("%B %d, %Y (%A) at %l:%M %P")%>
                <%if meetup_location.users.first == current_user%>
                <%= link_to("Delete Ping", meetup_location_path(meetup_location.id), method: :delete, data: {confirm: "Sure?"})%>
                <% end %>
                <%= link_to("UnJoin", meetup_user_path(meetup_location.id), method: :delete, data: {confirm: "Really? Leaving this Ping?"})%>
                </p>
            <% end %>
        </div>
    </div>
    <% end %>
    <div class="container border m-3">
        <h2>You previously went to:</h2>
        <div>
            <% @old_meetup_locations.each do |old_meetup_locations|%>
                <p>
                
                <%=old_meetup_locations.place_name%> 
                at <%=old_meetup_locations.place_address%>
                at <%=old_meetup_locations.date_time.strftime("%B %d, %Y (%A) at %l:%M %P")%>
                </p>
            <% end %>
        </div>
    </div>
</div>
