<!DOCTYPE html>
<html>
  <head>
    <title>Pingme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
  <nav class="site-header fixed-top">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto" focusable="false" role="img"><title>Product</title><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      </a>
      <%= link_to 'Home', root_path, class: "py-2 d-none d-md-inline-block"  %>
      <% if user_signed_in? %>
        <%= link_to 'MyPings', meetup_locations_path, class: "py-2 d-none d-md-inline-block"%>
        <%= link_to 'Create Pings', new_search_path, class: "py-2 d-none d-md-inline-block"%>
        <%= link_to 'Join Pings', new_meetup_search_path, class: "py-2 d-none d-md-inline-block"%>
        <span class="py-2 d-none d-md-inline-block text-white-50" >Hi, <%= current_user.first_name%>!</span>
        <%= link_to 'Log Out', session_path, method: :delete, data: {confirm: "Are you sure?"}, class: "py-2 d-none d-md-inline-block"%>
      <% else %>
        <%= link_to "Sign Up", new_user_path, class: "py-2 d-none d-md-inline-block", 'data-target' => "#exampleModal-signup", 'data-toggle' => "modal", 'data-dismiss' => "modal" %>
        <%= link_to "Log In", new_session_path, class: "py-2 d-none d-md-inline-block", 'data-target' => "#exampleModal-login", 'data-toggle' => "modal", 'data-dismiss' => "modal" %>
      <% end %>
      <small></small>
    </div>
  </nav>
  </header>
      <main class="container mt-5">
        <% flash.each do |type, message|%>
          <div class="alert alert-<%= type%>">
            <%= message %>
          </div>
        <% end %>
      </main>
    <%= yield %>
  </body>
</html>
